* {
  /* border: 1px solid red; */
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, svg {
  display: inline-block;
  vertical-align: middle;
}

ul {
  padding: 0 0 2em 0;
  list-style-type: none;
}

li {
  margin: 1em 0;
  font-weight: bold;
  width: fit-content;
  transition: 0.3s;
}

li:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.dashboard, .header, .main-content {
  padding: 1em;
}

.page-container {
  display: grid;
  grid-template-columns: auto 3fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.dashboard {
  flex: 1;
  display: block;
  background-color: #3b82f6;
  white-space: nowrap;
  padding: 1em;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.header {
  display: grid;
  flex: 1;
  box-shadow: 0 5px 2px -0px lightgray;
}

.main-content {
  flex: 4;
}